body{
    text-align: center;
}

div{
    height: 100px;
    width: 100px;
    border: 2px solid black;
    display: inline-block;
    align-items: center;
}

#container{
    width: 800px;
    height: 200px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
#box1{
    background-color: rgb(0, 225, 255);
}
#box2{
    background-color: rgb(255, 0, 255);
}
#box3{
    background-color: rgb(255, 255, 0);
}
#box4{
    background-color: rgb(0, 255, 0);
}
#box5{
    background-color: rgb(255, 0, 0);
}
#box6{
    background-color: rgb(0, 0, 255);
}