*{
    padding: 0%;
    align-items: center;
    margin: 0%;
}

#navbar{
    height:60px;
    background-color: black;
    justify-content: space-between;
    align-items: center;

}
button{
    background-color:orange;
    color: white;

}
#logo{
    color: orange;
}
a{
    margin-right:26vh;
    color: white;
    
}