.box{
    height: 100px;
    width: 100px
;
}
*{
    padding: 0%;
    align-items: center;
    margin: 0%;
}

#navbar{
    height:60px;
    background-color: black;
    /* justify-content: space-between; */
    align-items: center;
    /* text-decoration:overline */
    text-align: center;
  align-content: center;
}
button{
    background-color:orange;
    color: white;

}
#logo{
    color: orange;
    text-align: center;
}
a{
    margin-right:26vh;
    color: white;
    text-decoration: none;
    
    
}
.footer {
    background-color: #131921;
    color: white;
    text-align: center;
    padding: 15px;
    position: fixed;
    bottom: 0;
    width: 100%;
}

.heart {
    color: red;
    font-size: 18px;
}

.box{
  height: 100px;
  width: 100px;
  border: 2px solid black;
  display: inline-block;

}