.container{

    background-color:#000000;
    height: 400px;
    width: 200px;
    /* padding: 40px 100px; */
    justify-items: center;
    padding: 10px ;
    border-radius: 50px;
}

.div1 {
    background-color: #ff0303;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.div2 {
    background-color: #fbff0a;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}
.div3 {
    background-color: #00ff55;
    width: 100px;
    height: 100px;
    border-radius: 50%;
    justify-content: center;
    align-items: center;
    margin: 20px 0px;
}