*{
  font-family: 'Times New Roman', Times, serif;   
}


h1{
    text-align: center;
    text-transform: capitalize;
}
#outer{
    font-size: 25px;
    text-transform: capitalize;
}
#inner{
    font-size: 20px;
    text-transform: capitalize;
    text-align: center;
    
}