*{
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
}
.nav-logo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(Assets/amazon_logo.png);
    width: 100px;
    height: 40px;
    background-size: cover;
    background-repeat: no-repeat;
}
.border{
    border: 2px solid transparent;
}
.border:hover{
    border: 1.5px solid white;
}

/* box2 */
.add1{
   color: #cccccc;
   font: 1rem;
   margin-left: 20px;
}
.add2{
   
    font: 1rem;
    margin-left: 3px;
}
.add-icon{
    display: flex;
    align-items: center;
}
.nav-serarch{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-left: 20px;
    width: 620px;
    height: 40px;
    background-color: pink;
    display: flex;
    border-radius: 4px;
}

.search-select{
     width: 500px;
    height: 100%;
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
    border-radius: 6px 0 0 6px;
    border: none;
    
}
.search-input{
    width: 500px;
    height: 100%;
    border: none;
    }